body {
    background-image: url(img/clouds.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h5 {
    text-align: center;
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.progress {
    height: 3rem !important;
    background-color: rgba(50, 50, 50, 0.7) !important;
}

.container {
    min-height: 100vh;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-card {
    color: black;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(67, 77, 87, 0.5);
    color: white;
}

.bg-success, .bg-danger {
    color: white;
}

.main-card {
    width: 30rem;
    background-color: rgba(50, 50, 50, 0.5) !important;background: rgba(0, 0, 0, 0.3);
    padding: 3rem;
    color: white;
}

.timer-container {
    position: absolute;
    top: 0%;
    right: 3%;
    z-index: 999;
    font-size: 2.5rem;
    color: white;
}
